<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sampler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>771CA23F1EA4E29B00BB7EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771CA2501EA4E29C00BB7EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771CA25B1EA4E29C00BB7EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
